li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: orange;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .fas{
    float: right;
  }

  .burgerDiv{
    width: 40%;
    margin:0 auto;
  }